<div class="form-group">
  <label for="title">Title (must be unique!)</label>
  <input required value="<%= player.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="description">URL</label>
  <textarea name="description" id="description" class="form-control"><%= player.description %></textarea>
</div>
<div class="form-group">
  <label for="markdown">Description (anything you want)</label>
  <textarea required name="markdown" id="markdown" class="form-control"><%= player.markdown %></textarea>
</div>
<div class="form-group">
  <label for="platform">Platform (twitch/youtube/facebook/other)</label>
  <textarea required name="platform" id="platform" class="form-control"><%= player.platform %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>