<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
          <img src="https://cdn.discordapp.com/attachments/804857234445959238/831274747957870682/gemgray.png" width="50"
           height="50" alt="Logo">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/players/new">Add Player
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End of Navbar -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SPOTLIVE</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">New Player</h1>
  <p style="font: italic 20px/20px Arial, serif">How to link a video: <br><br>
    For Twitch: Simply enter a twitch username into the URL field <br><br>
    For YouTube: Simply enter the code at the end of the url after " /watch?v= " (with no timestamp)<br>(example input: "biSB9_Z3VUw")<br><br>
    For other platforms, click the "Share" button on the video.<br> Find the "Embed" link and copy the URL located inside of src="" ... <br>(example input: "https://player.vimeo.com/video/140339646")</p><br><br>

    <form action="/players" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
</body>
</html>