<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
          <img src="https://cdn.discordapp.com/attachments/804857234445959238/831274747957870682/gemgray.png" width="50"
           height="50" alt="Logo">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  </div>
</nav>
<!-- End of Navbar -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-1"><%= player.title %></h1>
    <div class="text-muted mb-2">
      <%= player.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary">All Players</a>
    <a href="/players/edit/<%= player.id %>" class="btn btn-info">Edit</a>

    <div>
      <%- player.sanitizedHtml %>
    </div>
  </div>
</body>
</html>